# ---------------------------
# OS files
# ---------------------------
[Tt]humbs.db
*.DS_Store
desktop.ini

# ---------------------------
# Back-up files 
# ---------------------------
~*.*
.~*.*

# ---------------------------
# Visual Studio
# ---------------------------
*.suo
.vs
.vscode
Debug
bin
obj

# ---------------------------
# Sort folder
# ---------------------------
__SORT__

# ---------------------------
# log file
# ---------------------------
_countLog.txt

# ---------------------------
# ANTLR
# ---------------------------
*.interp
*.tokens

# ---------------------------
# Python
# ---------------------------
__pycache__
